<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="chargers">
	<select id="station" parameterType="chargersVO" resultType="chargersVO">
		select * from e_station
		where es_statId = #{es_statId}
	</select>
</mapper>