<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="data">

    <!-- API 데이터 저장 -->
    <insert id="insert" parameterType="dataVO">
        INSERT INTO status 
        VALUES (#{chgerId}, #{statId}, #{stat})
    </insert>
    
    <select id="select" resultType="joinVO">
        SELECT *
        FROM 
        (
            SELECT statId, MAX(CASE WHEN stat = '2' THEN '2' ELSE '1' END) AS stat
            FROM status 
            GROUP BY statId 
        ) s
        JOIN e_station es ON es.es_statId = s.statId
    </select>

    <select id="selectlist" parameterType="String" resultType="joinVO">
        SELECT *
        FROM 
        (
            SELECT statId, MAX(CASE WHEN stat = '2' THEN '2' ELSE '1' END) AS stat
            FROM status 
            GROUP BY statId 
        ) s
        JOIN e_station es ON es.es_statId = s.statId
        WHERE es_statNm LIKE CONCAT('%',#{keyword},'%')
    </select>

	<select id="myLocationFindRecommand" parameterType="joinVO" resultType="joinVO">
		SELECT 
		    es_statId, es_statNm, es_lat, es_lon, es_gungoo, es_addr, stat,
		    ROUND(
		        ST_Distance_Sphere(
		            POINT(#{es_lon}, #{es_lat}), 
		            POINT(es.es_lon, es.es_lat)
		        ) * 0.001 , 1
		    ) AS distance
		FROM 
		    (
		        SELECT 
		            statId,
		            MAX(CASE WHEN stat = '2' THEN '2' ELSE '1' END) AS stat
		        FROM 
		            status 
		        GROUP BY 
		            statId
		    ) s
		JOIN 
		    e_station es ON es.es_statId = s.statId
		WHERE
		    ST_Distance_Sphere(
		        POINT(#{es_lon}, #{es_lat}), 
		        POINT(es.es_lon, es.es_lat)
		    ) &lt; 500
		ORDER BY distance
	</select>

</mapper>
