<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="membership">
	
	
	<!-- 카드 번호 생성, 아이디는 일단 root로 고정 -->
    <insert id="saveMembership" parameterType="membershipVO">
        INSERT INTO membership (car_kind, car_model, car_number, card_reason, card_addr, card_num, card_point, c_memberid, card_signday, card_balance)
        VALUES (#{car_kind}, #{car_model}, #{car_number}, #{card_reason}, #{card_addr}, #{card_num},
                0, #{c_memberid}, now(), 0);
    </insert>
    
    <select id="getMembershipList" resultType="membershipVO">
        SELECT card_signday, card_num, car_number, card_reason, card_addr
        FROM membership
        WHERE c_memberid = #{c_memberid};
    </select>
    
    <!-- 특정 카드 번호에 대한 상세 정보 조회 -->
    <select id="getMembershipCardDetails" resultType="membershipVO">
        SELECT * FROM membership WHERE card_num = #{cardNum};
    </select>
    
    <!-- 멤버쉽 카드 잔액 충전 -->
    <update id="updateCardNewBalance" parameterType="map">
        UPDATE membership
        SET card_balance = #{newBalance}, card_point = #{newPoint}
        WHERE card_num = #{cardNum}
    </update>
    
</mapper>