<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="membership">

	<insert id="saveMembership" parameterType="membershipVO">
		INSERT INTO membership
		(car_kind, car_model, car_number, card_reason,
		card_addr, card_num,
		card_point, c_memberid, card_signday,
		card_balance)
		VALUES (#{car_kind},
		#{car_model}, #{car_number}, #{card_reason},
		#{card_addr}, #{card_num},
		0, #{c_memberid}, now(), 0);
	</insert>

	<insert id="insertIntoPointHistory" parameterType="membershipVO">
		INSERT INTO
		point_history
		(card_num, card_point)
		VALUES (#{card_num}, 0);
	</insert>

	<select id="getMembershipList" resultType="membershipVO">
		SELECT card_signday,
		card_num, car_number, card_reason, card_addr
		FROM membership
		WHERE
		c_memberid = #{c_memberid};
	</select>

	<!-- 특정 카드 번호에 대한 상세 정보 조회 -->
	<select id="getMembershipCardDetails" resultType="membershipVO">
		SELECT * FROM
		membership WHERE card_num = #{cardNum};
	</select>

	<!-- 멤버쉽 카드 잔액 충전 -->
	<update id="updateCardNewBalance" parameterType="map">
		UPDATE
		membership
		SET card_balance = #{newBalance}, card_point = #{newPoint}
		WHERE card_num = #{cardNum};
	</update>

	<update id="updatePointCardNewBalance" parameterType="map">
		UPDATE
		point_history
		SET card_point =
		#{newPoint}
		WHERE card_num = #{cardNum};
	</update>

	<!-- 멤버쉽 카드 목록 불러오기 (이용내역 조회용) -->
	<select id="getMembershipCardListForBillSearch"
		resultType="membershipVO">
		SELECT card_num
		FROM membership
		WHERE c_memberid =
		#{c_memberid}
	</select>

	<!--멤버쉽 카드에 있는 잔액으로 충전소 결제 -->
	<update id="updateCardSubtract" parameterType="map">
    <![CDATA[
    UPDATE membership
    SET card_balance = card_balance - #{amountToSubtract}
    WHERE card_num = #{cardNum}
    ]]>
	</update>
</mapper>