<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="review">
	<insert id="create" parameterType="reviewVO">
		INSERT INTO review_board
		(r_title, r_content, r_writer, r_like, r_time,
		r_rank, r_statid, r_photo, r_statNm)
		VALUES
		(#{r_title}, #{r_content}, #{r_writer}, #{r_like}, now(),
		#{r_rank},
		#{r_statid}, #{r_photo}, #{r_statNm})
	</insert>

	<select id="list" resultType="reviewVO" parameterType="map">
		select *
		from (
		select ROW_NUMBER() over(order by r_num desc) as r_no,
		r_num,
		r_title, r_statNm, r_content, r_writer, r_like, r_time, r_rank
		FROM
		review_board r
		)
		r2
		where r2.r_no between #{start} and #{end} and
		r2.r_num is not null
	</select>


	<select id="totalCount" resultType="int">
		SELECT COUNT(*) FROM
		review_board
	</select>


	<select id="searchReviewList" parameterType="reviewVO"
		resultType="reviewVO">
		SELECT * FROM ( SELECT ROW_NUMBER() OVER(ORDER BY r_num DESC) as r_no,
		r_num,
		r_title, r_statNm, r_content, r_writer, r_like, r_time, r_rank
		FROM
		review_board
		<where>
			<choose>
				<when
					test="reviewVO != null and reviewVO.type != null and reviewVO.type.equals('title')">
					AND r_title LIKE CONCAT('%', #{reviewVO.keyword}, '%') </when>
				<when
					test="reviewVO != null and reviewVO.type != null and reviewVO.type.equals('content')"> AND
					r_content LIKE CONCAT('%', #{reviewVO.keyword}, '%')
				</when>
				<when
					test="reviewVO != null and reviewVO.type != null and reviewVO.type.equals('writer')"> AND
					r_writer = #{reviewVO.keyword}
				</when>
				<when
					test="reviewVO != null and reviewVO.type != null and reviewVO.type.equals('stationName')"> AND
					r_statNm = #{reviewVO.keyword}
				</when>
			</choose>
		</where>
		) r2
		WHERE r2.r_no BETWEEN #{start} AND #{end} AND r2.r_num IS NOT NULL
	</select>



	<select id="searchTotalCount" parameterType="reviewVO"
		resultType="int">
		SELECT COUNT(*) FROM review_board
		<where>
			<choose>
				<when test="type != null and type.equals('title')"> AND r_title LIKE
					CONCAT('%', #{keyword}, '%') </when>
				<when test="type != null and type.equals('content')">
					AND r_content LIKE CONCAT('%', #{keyword}, '%')
				</when>
				<when test="type != null and type.equals('writer')"> AND r_writer = #{keyword} </when>
				<when test="type != null and type.equals('stationName')">
					AND r_statNm = #{keyword}
				</when>
			</choose>
		</where>
	</select>

	<select id="selectReviewDetails" parameterType="map"
		resultType="reviewVO">
		SELECT * FROM (
		SELECT
		ROW_NUMBER() OVER(ORDER BY r_num DESC)
		as r_no,
		r_num, r_statNm, r_title, r_content, r_writer, r_like, r_time,
		r_rank, r_photo
		FROM
		review_board
		) r
		WHERE r.r_num = #{r_num}
	</select>


	<!-- 게시글 수정하기 -->
	<update id="updateReviewPost" parameterType="reviewVO">
		UPDATE review_board
		SET
		r_title = #{r_title},
		r_content = #{r_content},
		r_rank = #{r_rank}
		WHERE
		r_num = #{r_num}
	</update>

	<!-- 게시글 삭제하기 -->
	<delete id="deleteReviewPost">
		DELETE FROM review_board
		WHERE r_num = #{r_num}
	</delete>

	<!-- 충전소 상세정보 페이지용 -->
	<select id="searchReviewListForChargers"
		parameterType="reviewVO" resultType="reviewVO">
		SELECT * FROM ( SELECT ROW_NUMBER()
		OVER(ORDER BY
		<if test="type.equals('like')">
			r_like DESC,
		</if>
		r_num DESC) as r_no,
		r_num,
		r_title, r_statid, r_content, r_writer, r_like, r_time, r_rank
		FROM
		review_board
		where r_statid = #{r_statid}
		) r2
		WHERE r2.r_no BETWEEN 1 AND 5 AND
		r2.r_num IS NOT NULL
	</select>
	<!-- 좋아요 처리 -->
    <insert id="likeReviewPost" parameterType="map">
        UPDATE review_board
        SET r_like = r_like + 1
        WHERE r_num = #{r_num}
    </insert>

    <!-- 좋아요 수 가져오기 -->
    <select id="getLikeCount" parameterType="map" resultType="int">
        SELECT r_like
        FROM review_board
        WHERE r_num = #{r_num}
    </select>
    
    <!-- 충전소 이용 내역에서 리뷰 작성 -->
     <insert id="insertPaymentReview" parameterType="reviewVO">
        INSERT INTO review_board (r_title, r_writer, r_statid, r_content, r_time, r_rank, r_like)
        VALUES (#{r_title}, #{r_writer}, #{r_statid}, #{r_content}, now(), '5', 0)
    </insert>
    
    <!-- 리뷰 평균 계산 데모 -->
	<select id="chargeIdAvg" parameterType="String" resultType="double">
		select 
		round(avg(r_rank), 1) as avg
		from review_board 
		where r_statId LIKE CONCAT('%', #{r_statid}, '%')
	</select>
	
	<!-- 충전소 상세정보 페이지용, 리뷰 별점 평균(전체 기간) -->
	<select id="rankAverageAll" parameterType="reviewVO" resultType="double">
        SELECT AVG(r_rank) AS average
        FROM review_board
        where r_statid = #{r_statid}
    </select>
    
	<!-- 충전소 상세정보 페이지용, 리뷰 별점 평균(최근 1달) -->
	<select id="rankAverageRecent" parameterType="reviewVO" resultType="double">
        SELECT AVG(r_rank) AS average
        FROM review_board
        where r_statid = #{r_statid}
        	<![CDATA[
        	AND r_time >= DATE_SUB(NOW(), INTERVAL 1 MONTH)
			AND r_time <= NOW()
			]]>
    </select>
</mapper>
